<% content_for :header do -%>
  <%= javascript_include_tag 'search_article' %>
<% end -%>
<% content_for :left_side do -%>
<%= render :partial => 'left_side' ,:locals => { :on => 1 } %>
<% end -%>
<% content_for :main do -%>
<h1>文章管理</h1>

<%= render :partial => 'search' %>

<%= render :partial => 'list' %>
<% end -%>

