<% content_for :left_side do -%>
  <%= render :partial => 'left_side',:locals => { :on=>2 } %>
<% end -%>

<% content_for :main do -%>
  <h1>Editing Role</h1>
<%= render :partial => 'form' %>
<% end -%>
