<% form_for(@category, :url=>"#{ @is_new.blank? ? admin_category_path(@category) : admin_categories_path }") do |f| %>
  <div class="line">
    <%= f.label :name,'名字' %>
    <%= f.text_field :name %>
  </div>

  <div class="line">
    <p>
      <%= f.submit 'Create' %>
    </p>
  </div>

<% end %>
